
<div class="chooser-page">
  <table class="chooser-box">
    <tr><td><%= erb :'group_exercise/heading' %></td></tr>
    <tr><td><%= erb :'shared/exercise_sub_heading' %></td></tr>
    <tr><td><%= erb :'shared/display_names' %></td></tr>
    <tr><td><%= erb :'shared/exercise_next_button' %></td></tr>
  </table>
<div>
