
#auto-refresh-wrapper, #minute-columns-wrapper
{
  @include edged-panel();
  background: lighten($darker-color,8%);
  @include right-align(15px);
  @include plaintext-font();
  cursor: pointer;
  font-size: 13px;
   margin: { bottom: 0px; left: 0px; right: 15px; }
  display: inline-block;
}

#auto-refresh-checkbox, #minute-columns-checkbox
{
  width: 15px;
  height: 15px;
  transform: scale(1.2);
  cursor: pointer;
}
