
#age-panel,
#auto-refresh-panel,
#minute-columns-panel
{
  @include edged-panel();
  @include plaintext-font();
  background: lighten($darker-color,8%);
      cursor: pointer;
   font-size: 13px;
      margin: { bottom:0px; left:0px; right:15px; }
     padding: { top:7px; bottom:6px; }
     display: inline-block;
}

#age-panel
{
  cursor: default;
  padding: { top:9px; bottom:9px; }  
}
