#top-bar
{
  @include plaintext-font();
     display: flex;
  background: lighten($darker-color, 8%);
       color: $lighter-color;
   font-size: 1.05em;
       width: 100%;
      height: 23px;
  text-align: left;
     padding: { left: 35px; top: 4px; bottom: 3px; }
    position: fixed;
         top: 0px;
     z-index: 1000;

  img#logo {
     cursor: pointer;
     height: 20px;
     width: 20px;
     margin: { left: 4px; right: 3px; }
  }

  #display-name-box,
  #exercise-name-box,
  #id-box
  {
    @include edged-panel();
    font-size: 10px;
    cursor: default;
    background: $darker-color;
    display: inline-table;
    margin: { left:3px; right:3px; }
    white-space: nowrap;
    position: relative;
    top: 1px;
  }

  #progress-button
  {
    position:relative;
    top:1px;
    left:2px;
  }
}
