.traffic-light-count
{
  width: 40px;
  @include non-code-font();
  cursor: default;
  margin: 0px;
  padding: { left: 8px; right: 5px; }
  font-size: 22px;
  position: relative;
  top: -2px;
  text-align: right;
}
