<script>
'use strict';
$(() => {

  const initially = cd.urlParam('auto_refresh', 'true');
  const checkBox = $('#auto-refresh-checkbox');

  cd.createTip($('#auto-refresh-wrapper'), "toggle the 10 second<br/>auto-refresh on/off");

  checkBox.isChecked = () => checkBox.is(':checked');
  checkBox.toggle = () => checkBox.attr('checked', !checkBox.isChecked());

  checkBox.attr('checked', initially === 'true')
          .click(() => cd.refreshDashboard(/*forced=*/true));

  $('#auto-refresh-text').click(() => {
    checkBox.toggle();
    cd.dashboardHeartbeat();
  });

  cd.autoRefresh = checkBox;

});
</script>

<table id="auto-refresh-wrapper">
  <tr>
    <td>
      <div id="auto-refresh-text">
        auto&nbsp;refresh
      </div>
    </td>
    <td>
      <input type="checkbox" id="auto-refresh-checkbox"/>
      <label for="auto-refresh-checkbox"></label>
    </td>
  </tr>
</table>
