<!DOCTYPE html>
<html lang="en">
  <head>
    <title>cyber-dojo</title>
    <meta charset="utf-8" />
    <meta name="description" content="Free Online Coding Dojo" />
    <meta name="keywords" content="Free Online Coding Dojo Kata Deliberate Software Team Practice" />
    <meta name="author" content="Jon Jagger" />
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/jquery-ui-1.8.23.min.js"></script>
    <script src="/assets/app.js"></script>
    <link  href="/assets/app.css" rel="stylesheet" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
