<script>
'use strict';
$(() => {

  const initially = cd.urlParam('minute_columns', 'true');
  const checkBox = $('#minute-columns-checkbox');

  cd.createTip($('#minute-columns-wrapper'), "toggle the one-minute<br/>columns on/off");

  checkBox.isChecked = () => checkBox.is(':checked');
  checkBox.toggle = () => checkBox.attr('checked', !checkBox.isChecked());

  checkBox.attr('checked', initially === 'true')
          .click(() => cd.refreshDashboard(/*forced=*/true));

  $('#minute-columns-text').click(() => {
    checkBox.toggle();
    cd.refreshDashboard();
  });

  cd.minuteColumns = checkBox; // public, refresh needs to get its state

});
</script>

<table id="minute-columns-wrapper">
  <tr>
    <td>
      <div id="minute-columns-text">
        minute&nbsp;columns
      </div>
    </td>
    <td>
      <input type="checkbox" id="minute-columns-checkbox"/>
      <label for="minute-columns-checkbox"></label>
    </td>
  </tr>
</table>
