<div id="progress-button-box">
  <button type="button"
            id="progress-button">
    progress?
  </button>
</div>

<script>
/*global cd,$*/
'use strict';
$(() => {

  $('#progress-button').click(() => progressDialog());

  const progressDialog = () => {
	  $.getJSON(`/dashboard/progress/${cd.id()}`, {}, (data) => {
      const node = $(progressTable(data.animals));
      $('.avatar-image', node).click(event => {
        const id = $(event.currentTarget).data('id');
        window.open(`/kata/edit/${id}`);
      });
      node.dialog({
        autoOpen: true,
           modal: true,
           title: dialogTitle('progress?'),
         buttons: { close: () => node.remove() },
        maxWidth: 600
      });
    });
  };

  //- - - - - - - - - - - - - - - - - - - - - - - -
  const progressTable = (avatars) => {
    let html = '';
    let index = 0;
    html += '<div id="progress-dialog">';
    html += '<table>';
    $.each(avatars, (_name, avatar) => {
      const parity = (index % 2 === 0) ? 'even' : 'odd';
      index += 1;
      html += progressTr(index, avatar);
    });
    html += '</table>';
    html += '</div>';
    return html;
  };

  //- - - - - - - - - - - - - - - - - - - - - - - -
  const progressTr = (index, avatar) => {
    const parity = (index % 2 === 0) ? 'even' : 'odd';
    return '' +
      `<tr class='${parity} avatar'>` +
        "<td class='progress'>" +
          `<img src='/images/traffic-light/${avatar.colour}.png'` +
              ` alt='${avatar.colour} traffic-light'` +
              " width='20'" +
              " height='20'/>" +
        '</td>' +
        '<td>' +
          `<img src='/images/avatars/${avatar.index}.jpg'` +
            ` data-id='${avatar.id}'` +
            " width='30'" +
            " height='30'" +
            " class='avatar-image'/>" +
        '</td>' +
        `<td class='${avatar.colour} progress'>` +
          avatar.progress.text +
        '</td>' +
      '</tr>';
  };

  //- - - - - - - - - - - - - - - - - - - - - - - -
  const dialogTitle = (title) => {
    return `<span class="large dialog title">${title}<span>`;
  };

});
</script>
