<div id="hover-tip-container"></div>
<div id="dashboard-page">
  <table>
    <tr>
      <td><%= erb :auto_refresh_checkbox %></td>
      <td><%= erb :minute_columns_checkbox %></td>
      <td><%= erb :progress_button %></td>
    </tr>
  </table>
  <%= erb :traffic_lights %>
</div>

<script>
/*global cd*/
'use strict';
$(() => {

  cd.refresh();
  const seconds = (n) => n * 1000; // millisecs
  const heartbeat = () => {
    if (cd.autoRefresh.isChecked()) {
      cd.refresh();
    }
    setTimeout(heartbeat, seconds(10));
  };
  setTimeout(heartbeat, seconds(10));

});
</script>
