<script>
'use strict';
$(() => {

  $('.kata-row').each((_i,row) => {
    let index = 0; // each avatar-row must reset traffic-light index to zero
    $.each($('.diff-traffic-light', $(row)), (_,light) => {
      const $light = $(light);
      const id = $light.data('id');
      const avatarIndex = $light.data('avatar-index');
      const wasIndex = index;
      const nowIndex = $light.data('index');
      const colour = $light.data('colour');
      const number = $light.data('number');
      $light.click(() => window.open(cd.reviewUrl(id, wasIndex, nowIndex)));
      cd.setupTrafficLightTip($light, id, avatarIndex, wasIndex, nowIndex, colour, number);
      index = nowIndex;
    });
  });

  const avatarImages = $('.kata-row .avatar-image');

  avatarImages.click(element => {
    const e = $(element.currentTarget);
    const id = e.data('id');
    const index = e.data('index');
    window.open(cd.reviewUrl(id, index, index));
  });
  // TODO: cd.setupAvatarNameHoverTip(...

  //cd.pieChart($('#traffic-lights .pie'));
  //cd.setupHoverTips($('[data-tip]'));

  $('.scroll-handle').scrollIntoView();

});
</script>

<div id="traffic-lights" class="table-scroll">

<table>

  <% if @minute_columns == 'true' %>
    <thead>
      <tr>
        <th><%# avatar-image,pie-chart,traffic-light-count %></th>
        <% @time_ticks.keys.sort.each_with_index do |td_no,index| %>
  		    <% seconds = @time_ticks[td_no] %>
  		    <th>
    	      <% if seconds.class != Hash %>
            <% end %>
          </th>
        <% end %>
        <th><%# scroll-marker %></th>
      </tr>
    </thead>
  <% end %>

  <tbody>
    <% @gapped.keys.sort_by{|kata_id| @all_indexes[kata_id] }.each do |kata_id| %>
    <% lights = @all_lights[kata_id] %>
    <% avatar_index = @all_indexes[kata_id] %>

    <tr class="kata-row"> <%# JS above uses kata-row %>

      <th>
        <div class="fixed-column">
          <%= diff_avatar_image(kata_id, avatar_index, lights.last.index) %>
        </div>
      </th>

  	  <% number = 1 %>
  	  <% td_map = @gapped[kata_id] %>
  	  <% td_map.keys.sort.each_with_index do |td_no,index| %>
  		  <% lights = td_map[td_no] %>
  		  <td class="<%= parity(index) %> column">
  		    <div class="minute-box">
      		  <% if lights.is_a?(Hash) %>
      		    <span class="collapsed-multi-gap"></span>
      		  <% end %>
      		  <% if lights.is_a?(Array) %>
      		    <% lights.each do |light| %>
                <%= diff_traffic_light(light, avatar_index, number) %>
                <% number += 1 %>
              <% end %>
      		  <% end %>
  		    </div>
  		  </td>
  	  <% end %>

      <td>
        <div class="scroll-handle"><div>
      </td>
  	</tr>
    <% end %>
  </tbody>
</table>

</div>
