<div id="detailed-panel">
  <span id="detailed-text">
    detailed
  </span>
  <input type="checkbox" id="detailed-checkbox"/>
  <label for="detailed-checkbox"></label>
</div>

<script>
'use strict';
$(() => {

  const $checkBox = $('#detailed-checkbox');

  const initially = cd.urlParam('detailed', 'false');

  $checkBox.attr('checked', initially === 'true')
           .click(() => $checkBox.onClick());

  $checkBox.isChecked = () => $checkBox.prop('checked');
  $checkBox.toggle = () => $checkBox.prop('checked', !$checkBox.isChecked());
  $checkBox.onClick = () => cd.refresh();

  $('#detailed-text').click(() => {
    $checkBox.toggle()
            .onClick();
  });

  cd.detailed = $checkBox; // public as cd.refresh() calls isChecked()

  const tip = [
    'toggle detailed events',
    'on/off'
  ].join('<br/>');

  cd.createTip($('#detailed-panel'), tip);

});
</script>
