
<div class="chooser-page">
  <table class="chooser-box">
    <tr><td><%= erb :'group_custom/heading' %></td></tr>
    <tr><td><%= erb :'shared/custom_sub_heading' %></td></tr>
    <tr><td><%= erb :'shared/display_names' %></td></tr>
    <tr><td><%= erb :'group_custom/ok_button' %></td></tr>
  </table>
<div>
